antlr4-python3-runtime==4.8
appdirs==1.4.4
audioread==2.1.9
-e git+https://github.com/facebookresearch/WavAugment.git@54afcdb00ccc852c2f030f239f8532c9562b550e#egg=augment
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
Cython==0.29.24
decorator==5.0.9
editdistance==0.5.3
hydra-core==1.0.7
idna==3.2
importlib-resources==5.2.0
joblib==1.0.1
librosa==0.8.1
llvmlite==0.36.0
numba==0.53.1
numpy==1.21.1
omegaconf==2.0.6
packaging==21.0
parse==1.19.0
pooch==1.4.0
portalocker==2.0.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
resampy==0.2.2
sacrebleu==1.5.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
SoundFile==0.10.3.post1
threadpoolctl==2.2.0
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
